<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <%- include('partials/nav')%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- <pre> <%= JSON.stringify(user, null, 2)%></pre> -->
  </body>
</html>
